<ion-header>
  <ion-icon name="time"></ion-icon> <ion-icon name="ios-bluetooth" slot="end"></ion-icon><ion-icon name="logo-rss"slot="end"></ion-icon><ion-icon name="ios-battery-full"slot="end"></ion-icon> 
  <ion-title>
    Saved
  </ion-title>
  
</ion-header>

<ion-content>
  <p>
    Not every day is filled with adventure, but you can start planning for the next one.
    Tap the heart on any home to start saving your favourites here.
  </p>
  <ion-button ion-button size="medium" shape="round" >Find homes</ion-button>

</ion-content>
