<ion-content>
<ion-header text-center>
    <ion-toolbar >
      <ion-button
        shape="round"
        size="small"
        (click)="navToHome()" 
        color="danger"
        style="float:left"
        >Sign Out</ion-button
      >  
      <ion-title><i>Properties</i></ion-title>
      <ion-button
        shape="round"
        size="small"
        (click)="navToProfile()"
        color="primary"
        style="float:right"
        >Profile</ion-button
      >
  </ion-toolbar>
  </ion-header>

    <ion-card
      color="light"
      *ngFor="let property of properties"
      (click)="navToDetailsPage(property.id)"
    >
      <img src="{{ property.imageUrl }}" />
      <ion-card-header>
        <ion-card-subtitle>{{ property.location }}</ion-card-subtitle>
        <ion-card-title>{{ property.name }}</ion-card-title>
        <ion-label float-left> {{ property.price }} <i>ZAR/Night</i> </ion-label>
      </ion-card-header>
    </ion-card>
  </ion-content>