<h3>Properties</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Location</th>
        <th>Image Url</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let property of properties">
        <td>{{property.name}}</td>
        <td>{{property.price}} ZAR/Night</td>
        <td>{{property.location}}</td>
        <td>{{property.imageUrl}}</td>
      </tr>
    </tbody>
  </table>
</div>