<ion-header text-center>
  <ion-toolbar>
    <ion-button
      style="float:left"
      shape="round"
      color="danger"
      (click)="navToProperty()"
    >
      Back
    </ion-button>
    <ion-title>Create a Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding center text-center>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Create Your Listing
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              placeholder="Property Name"
              [(ngModel)]="name"
              type="text"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Price" [(ngModel)]="price" type="text">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              placeholder="Location"
              [(ngModel)]="location"
              type="text"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              placeholder="Image Url"
              [(ngModel)]="imageUrl"
              type="text"
            >
            </ion-input>
          </ion-item>
        </ion-list>

        <ion-button
          size="medium"
          shape="round"
          expand="full"
          (click)="createProperty()"
        >
          Create <ion-icon slot="end" name="ios-arrow-forward"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
